@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, Arial, sans-serif;
}

input {
  outline: none;
}

.radial {
  background: radial-gradient(
      rgb(210, 241, 223),
      rgb(211, 215, 250),
      rgb(186, 216, 244)
    )
    0% 0% / 400% 400%;
}
